/* Styles.css
Skyler, Sydney, Megan */
/* Style rules for hamburger menu */
.mobile-nav a {
  color: #fff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 4%;
  display: block;
}

.mobile-nav a.menu-icon {
  color: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*Style rules for header*/
h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: #00563F;
  color: #fff;
  padding-bottom: 20px;
}

h2 {
  background-color: #00563F;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 0px;
}

header {
  background-color: #00563F;
}

header img {
  padding: 20px;
}

/*Footer content*/
footer .copyright {
  font-size: 0.6em;
  padding: 2% 4%;
  width: 75%;
}


mobile-nav a {
  color: #fff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

.mobile-nav a.menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
