/* Styles.css
Skyler, Sydney, Megan */
/* Style rules for hamburger menu */
.mobile-nav a {
  color: #fff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 4%;
  display: block;
}

.mobile-nav a.menu-icon {
  color: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*Footer content*/
footer .copyright {
  font-size: 0.6em;
  padding: 2% 4%;
  width: 75%;
}
