/* Styles.css
Skyler, Sydney, Megan */
/* Style rules for hamburger menu */
.mobile-nav a {
  color: #000;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  padding: 4%;
  display: block;
  color: #fff;
  background: #00563F;
}

.mobile-nav, a.menu-icon {
  color: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/*Style rules for header*/
h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: #00563F;
  color: #fff;
  padding-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  background-color: #00563F;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 0px;
}

header {
  background-color: #00563F;
}

.catpaws-logo {
  display: none;
}

header img {
  padding: 20px;
}

/*Footer content*/
footer .copyright {
  font-size: 0.6em;
  padding: 2% 4%;
  width: 75%;
}

/*hamburger menu*/
mobile-nav a {
  color: #fff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

.mobile-nav a.menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}